.tableCustom {
    :global {
        .ant-table-pagination {
            background: var(--ant-table-header-bg);
            margin: 0px !important;
            padding: 16px 0px;
            border: 1px solid var(--ant-color-border);
            border-top: none;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        /* allow clicks inside prefix filter */
        .clickable-prefix-input .ant-input-number-prefix {
            pointer-events: auto !important;
        }
        
        .clickable-prefix-input .ant-input-number-input {
            pointer-events: auto;
        }

        .ant-table-cell-fix-right,
        .ant-table-cell-fix-left {
            z-index: 110;
        }
    }
}