<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clt.erp.auth.mapper.AuthMapper">
	<select id="loadUserByUsername" parameterType="java.lang.String" resultType="com.clt.erp.auth.model.UserInfo">
        SELECT usr.CO_ID,
               usr.USR_ID,
               usr.USR_NM,
               usr.USR_EML,
               usr.USE_FLG,
               usr.ROLE_ID,
               usr.CO_ID || '::' || USR_ID  AS USERNAME,
               usr.USR_PWD                  AS PASSWORD,
               com.TM_ZN                    AS CO_TMZ,
			   usr.LANG_VAL                 AS LANG_VAL,
			   usr.SYS_MOD_VAL              AS SYS_MOD_VAL,
			   usr.DT_FMT_VAL               AS DT_FMT_VAL,
			   usr.SYS_COLR_VAL             AS SYS_COLR_VAL
        FROM ADM_USR usr JOIN ADM_ROLE role ON (
				usr.CO_ID = role.CO_ID
				AND usr.ROLE_ID = role.ROLE_ID
			 ) JOIN ADM_COMPANY com ON (
				usr.CO_ID = com.CO_ID
			 )
        WHERE usr.CO_ID || '::' || usr.USR_ID = #{username}
    </select>
	
	<select id="isActiveCompany" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT CO_ID
		FROM ADM_COMPANY
			WHERE CO_ID = #{coId}
			AND USE_FLG = 'Y'
	</select>
	
	<select id="isActiveUser" parameterType="java.lang.String" resultType="java.lang.String">
		SELECT USR_ID
		FROM ADM_USR
			WHERE CO_ID || '::' || USR_ID = #{username}
			AND USE_FLG = 'Y'
	</select>
</mapper>
