@import "tailwindcss";

.ant-menu-root {
    border-inline-end: none !important;
}

.ant-form-item {
    margin: 0;
}

.ant-form-item-vertical .ant-form-item-label {
    padding: 0;
}

.ant-form-item-label > label.ant-form-item-required::before {
    display: none !important;
}

.ant-form-item-label > label.ant-form-item-required::after {
    display: inline-block;
    margin-left: 4px;
    color: red;
    content: '*';
    visibility: visible;
}

.ant-form-item-label > label:not(.ant-form-item-required)::after {
    content: "";
}

.ant-form-item-explain-error{
    font-size: 12px;
}

.ant-select-selection-item-content {
    line-height: 8px;
    font-size: 11px;
}

.ant-picker {
    border-radius: 5px;
    
}

.ant-picker-input, .ant-picker-input > input, 
.ant-picker-input input::placeholder,
.ant-tabs-tab-btn, .ant-radio-label,
.ant-select-selection-search-input, .ant-select-selection-placeholder,
.ant-input, .ant-input::placeholder, .ant-input-number, .ant-checkbox-label, .ant-select-selection-item, .ant-select-item-option-content {
    font-size: 12px !important;
    padding: 2px 4px;
}

.ant-form-item-label label {
    color: rgba(16, 24, 40, 0.88);
    font-size: 12px !important;
    font-weight: 500;
}

.ant-btn {
    font-size: 12px;
    height: 26px;
    padding: 0px 8px;
    border-radius: 4px;
}

.ant-select-item-option {
    min-height: 24px !important;
    padding: 2px 4px !important;
}

.ant-pagination {
    gap: 4px;
    padding-left: 8px !important;
}

.ant-input-search-button {
    height: 25px !important;
}

.ant-table {
    font-size: 12px !important;
}

.ant-modal-confirm-content {
    font-size: 12px !important;
}

.ant-modal-confirm-title {
    font-size: 14px !important;
}

.ant-modal-content {
    padding: 20px;
    padding-bottom: 15px;
}

.ant-table-column-sorter{
    margin-right: 10px;
}

.react-resizable-handle {
    top: 0;
    right: -12px;
    height: 100% !important;
    cursor: col-resize !important;
    background-image: none !important;
}

.ant-tabs-tab-remove{
    padding-right: 8px;
}

.ant-table-row  td {
    padding: 4px 4px !important;
}

.antd-table .ant-input-outlined[disabled] {
    color: rgba(0, 0, 0, 0.5);
}

.ant-input-number .ant-input-number-input::placeholder{
    text-align: start;
}

.ant-input-number .ant-input-number-input {
    text-align: end;
}


/*Edit Table Tooltip display messages*/
.edit-table .ant-form-item-explain-error {
    position: absolute;
    background: var(--ant-color-error-bg);
    color: #ff4d4f;
    border: 1px solid #ff4d4f;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    top: -30px;
    z-index: 10;
    opacity: 0;
    pointer-events: none;
}

.edit-table .ant-table-row[data-row-key="0"] .ant-form-item-explain-error {
   top: 30px;
}

/* Trigger animation on focus */
.edit-table .ant-form-item-control-input:focus-within+.ant-form-item-additional .ant-form-item-explain-error {
    animation: fadeTooltip 2.5s forwards;
}

.edit-table .ant-table-tbody .ant-table-cell {
    overflow: visible !important;
}

/* Keyframes: appear, stay, then fade */
@keyframes fadeTooltip {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


/* Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--ant-color-bg-layout);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--ant-color-border);
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--ant-color-border-secondary);
  }
  
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: var(--ant-color-border) var(--ant-color-bg-layout);
  }